@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-polygon {
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
  }
}



/* new css */


/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.text-center {
  text-align: center;
}

.hover\:text-gray-300:hover {
  color: #d1d5db; 
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; 
}


.news-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}

.news-card:hover {
  transform: translateY(-5px);
}


nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}


@media (max-width: 768px) {
  .news-list {
      grid-template-columns: 1fr; /* Stacks cards on smaller screens */
  /* }
}

@media (min-width: 768px) {
  .news-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .news-list {
      grid-template-columns: repeat(3, 1fr);
  }
} */
